<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div #basics class="basics block">
        <h2>
            {{'basics' | label}}
        </h2>

        <p><span class="label">{{'basics-name' | label}} </span>{{resume?.basics.name}}</p>
        <p><span class="label">{{'location-address' | label}} </span>{{resume?.basics.location.city}}</p>
        <p><span class="label">{{'basics-label' | label}} </span>{{resume?.basics.label}}</p>
        <p><span class="label">{{'basics-email' | label}} </span>{{resume?.basics.email}}</p>
        <p><span class="label">{{'basics-phone' | label}} </span>{{resume?.basics.phone}}</p>
        <p><span class="label">{{'basics-website' | label}} </span>{{resume?.basics.website}}</p>
        <p><span class="label">{{'profiles' | label}} </span>
            <span class="tag" *ngFor="let item of resume?.basics.profiles">{{item.network}}</span>
        </p>

        <p class="content">{{resume?.basics.summary}}</p>

    </div>

    <div #education class="education block">
        <h2>
            {{'education' | label}}
        </h2>

        <div *ngFor="let item of resume?.education">
            <p>
                {{item.institution}}
                <small>({{item.area}})</small>
                <br>
                <span class="note">{{item.startDate + ' - '+ item.endDate}} <small>({{item.studyType}})</small></span>
            </p>

            <ol>
                <li *ngFor="let h of item.courses">{{h}}</li>
            </ol>
        </div>
    </div>

    <div #work class="works block">

        <h2>
            {{'work' | label}}
        </h2>

        <div *ngFor="let work of resume?.work">
           <p>
               {{work.company}}
               <small>({{work.position}})</small>
               <br>
               <span class="note">{{work.startDate + ' - '+ work.endDate}}</span>
           </p>
            <p class="content">{{work.summary}}</p>

            <ul>
                <li *ngFor="let h of work.highlights">{{h}}</li>
            </ul>
        </div>

    </div>

    <div #publications class="publications block">
        <h2>
            {{'publications' | label}}
        </h2>

        <div *ngFor="let item of resume?.publications">
            <p>
                {{item.name}}
                <small>({{item.releaseDate}})</small>
                <br>
                <a href="">{{item.website}}</a>
            </p>
            <p class="content">{{item.summary}}</p>
        </div>
    </div>

    <div #skills class="skills block">
        <h2>
            {{'skills' | label}}
        </h2>

        <div *ngFor="let item of resume?.skills">
            <p>
                {{item.name}}
                <small> - {{item.level}}</small>
                <br>
            </p>
            <p>
                <span class="tag" *ngFor="let key of item?.keywords">
                {{key}}
                </span>
            </p>
        </div>
    </div>

    <div #languages class="languages block">
        <h2>
            {{'languages' | label}}
        </h2>

        <ol>
            <li *ngFor="let item of resume?.languages">
                {{item.language}} <span class="note">{{item.fluency}}</span>
            </li>
        </ol>
    </div>

</ion-content>
