page-home {

  .block{
    margin-bottom: 20px;
  }

  h2{
    font-size: 1.8em;
    font-weight: 200;
  }

  ol{
    li {
      color: #46a6ff;
    }
  }

  ul{
    padding-left:0;
    li{
      list-style-type:none;
      border-left: 4px solid #46a6ff;
      margin-bottom: 10px;
      background-color: rgba(70, 166, 255, 0.11);
      padding: 10px;
      color: #777;
    }
  }

  a{
    display: block;
    margin-top: 7px;
    font-size: .8em;
  }

  p{
    font-size: 1em;
    padding: 0;
    margin: 5px;

    .label{
      display:inline-block;
      width: 88px;
      color: #6e6e6e;
    }

    .tag{
      background-color: #46a6ff;
      color: #fff;
      border-radius: 8px;
      padding:1px 5px;
      margin-right: 5px;
      font-size: .9em;
    }

    .note{
      color: #6e6e6e;
      font-size: .8em;
    }

    &.content{
      color: #6e6e6e;
      margin-top: 16px;
    }



  }

}
